<!DOCTYPE html>
<html>
<head>
    <LINK REL=StyleSheet HREF="/main.css" TYPE="text/css" MEDIA=screen>
    <title id="theTitle">Battleships</title>
</head>

<script src="/angular.min.js"></script>
<script src="/angularMain.js"></script>

<body ng-app="battleships" class="unselectable">
<div class="container main" ng-controller="statCtrl">
    <div class="row">
            <h1>Welcome to Browserships</h1>
    </div>

    <div class="shootingGrid">
        <div class="shootingGridContent">
            <table class="shootingGridTable">
                <thead>
                    <tr>
                        <th></th>
                        <th class="battleshipGridLabels" ng-repeat="colHeader in playerShotData[0]">{{$index + 1}}</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="row in playerShotData">
                        <td class="battleshipGridLabels"> <div class="cellContent"><b>{{rowLabels[$index]}}</b></div></td>
                        <td class="tableBody {{cell.displayClass}}" ng-repeat="cell in row"  class="ng-cloak" ng-click="shoot($index, $parent.$index)"><div class="cellContent">{{cell.state}}</div></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="status" class="ng-cloak">
        <div class="statusContent">
            <h1>Enemy Ships</h1>
            <div class="shipsContainer" ng-repeat="ship in computerShipStatus track by $index">
                <div class="shipContainer">
                    <div class="shipElement">
                        <img class="scaleImage" class="ng-cloak" ng-src='{{computerShipStatus[$index]["img"]}}'>
                    </div>
                </div>
            </div>

            <form>
                Click to reset the game:
                <input type="button" ng-click="reset()" value="RESET">
            </form>
        </div>
    </div>

    <div class="shootingGrid">
        <div class="shootingGridContent">
            <table class="shootingGridTable">
                <thead>
                <tr>
                    <th></th>
                    <th class="battleshipGridLabels" ng-repeat="colHeader in computerShotData[0]">{{$index + 1}}</th>
                </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="row in computerShotData">
                        <td class="battleshipGridLabels"> <div class="cellContent"><b>{{rowLabels[$index]}}</b></div></td>
                        <td class="tableBody {{cell.displayClass}}" ng-repeat="cell in row"  class="ng-cloak"><div class="cellContent">{{cell.state}}</div></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="status" class="ng-cloak">
        <div class="statusContent">
            <h1>My Ships</h1>
            <div class="shipsContainer" ng-repeat="ship in playerShipStatus track by $index">
                <div class="shipContainer">
                    <div class="shipElement">
                        <img class="scaleImage" class="ng-cloak" ng-src={{playerShipStatus[$index]["img"]}}>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>
