<!DOCTYPE html>
<html>
<head>
    <LINK REL=StyleSheet HREF="main.css" TYPE="text/css" MEDIA=screen>
    <title id="theTitle">Battleships</title>
</head>

<script src="angular.min.js"></script>
<script src="angularMain.js"></script>

<body ng-app="battleships">
<div class="container main" ng-controller="statCtrl">
    <div class="row">
            <h1>Welcome to Browserships</h1>
    </div>

    <div class="shootingGrid">
        <div class="shootingGridContent">
        <table class="shootingGridTable">
            <thead>
            <tr>
                <th></th>
                <th class="battleshipGridLabels" ng-repeat="colHeader in board[0]">{{$index + 1}}</th>
            </tr>
            </thead>

            <tbody>
                <tr ng-repeat="row in board">
                    <td class="battleshipGridLabels"> <div class="cellContent"><b>{{rowLabels[$index]}}</b></div></td>
                    <td class="tableBody {{cell.displayClass}}" ng-repeat="cell in row" ng-click="shoot($index, $parent.$index)"><div class="cellContent">{{cell.state}}</div></td>
                </tr>
            </tbody>
        </table>
            </div>
    </div>

    <div class="status">
        <div class="statusContent">
        <h1>Ship Status</h1>
        <div ng-repeat="ship in frontEndShipData">
            <img class="scaleImage" ng-src={{frontEndShipData[$index]["img"]}}>
        </div>

        <form>
            Click to reset the grid:
            <input type="button" ng-click="reset()" value="RESET">
        </form>
    </div>
        </div>
</div>

</body>
</html>
