.ng-cloak {
    display: none !important;
}

body {
    background-image: url("images/background.png");
    background-repeat: repeat;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.shootingGridContent {
    width: 90%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    table-layout: fixed;
    padding-bottom: 25px;

}

.shootingGridTable {
    table-layout: fixed;
    width: 90%;
    border: 3px solid black;
    color: white;
    margin: 2%;
    background-image: url("images/water.jpg");
    background-repeat: repeat;
    height:20%;
    text-align: center;
}

td {
    width:30%;
    position:relative;
}

td:after{
    content:'';
    display:block;
    margin-top:100%;
}
td .cellContent {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

.tableBody {
    border: 3px solid black;
}

.battleshipGridLabels {
    color: red;
    background-color: white;
}

div.statusContent {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    width: 250px;
    padding: 10%;
    padding-top: 10px;
    padding-bottom: 30px;
    background:black;
    border:dotted white;
    margin:0 auto;
}

.shipsContainer {
    width: 100%;
    display: inline-block;
    position: relative;
}

.shipContainer {
    padding-top: 33%;
}

.shipElement {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

div.instructions {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: white;
    padding-bottom: 25px;
}

.scaleImage {
    width: 100%;
}

.rotateImage {
    width: 100%;
    behavior:url(-ms-transform.htc);
    /* Firefox */
    -moz-transform:rotate(90deg);
    /* Safari and Chrome */
    -webkit-transform:rotate(90deg);
    /* Opera */
    -o-transform:rotate(90deg);
    /* IE9 */
    -ms-transform:rotate(90deg);
    /* IE6,IE7 */
    filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=1.5708, M12=-1.5708, M21=1.5708, M22=1.5708);
    /* IE8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=1.5708, M12=-1.5708, M21=1.5708, M22=1.5708)";
}


@media (min-width: 600px) {
    .shootingGrid {
        width:66%;
        float:left;
    }

    div.status{
        width:33%;
        float:right;
    }
    div.statusContent {
        width: 70%;
    }
}

@media (min-width: 900px) {
    .shootingGrid {
        width:40%;
        float:left;
    }

    div.status{
        width:20%;
        float:right;
    }
    div.statusContent {
        width: 70%;
    }
}
